*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --clr-main: #ffb508;
    --clr-secondary: #ffd36b;

    --clr-but: hsl(42, 100%, 45%);
    --clr-but-hover: hsl(42, 100%, 40%);
    --clr-but-active: hsl(42, 100%, 35%);
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
body{
    width: max(35%, 320px);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    background-image: url('../images/formBg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Header */
.header > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(3rem, 15vw);
    text-decoration: none;
    color: black;
    background-color: var(--clr-main);
}

.header > .logo > img{
    width: min(80px, 20vw);
    margin-right: 3px;
}

/* Main */
.main{
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-secondary);
    border-radius: 5px;

    width: 75%;
    height: 40%;
}

.main > form > input{
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.main > form > button{
    border: none;
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;
    background-color: var(--clr-but);
}
.main > form > *{
    margin-block: 7px;
    width: 85%;
}

/* Footer */
.footer{
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 10vh;
}

/* Transitions */
.main > form > button:hover,
.main > form > button:active{
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* Hovers */
.main > form > button:hover{
    background-color: var(--clr-but-hover);
}

/* Actives */
.main > form > button:active{
    background-color: var(--clr-but-active);
}

/* Query */
@media (max-width: 768px) {
    body{
        width: 100%;
    }
    .main > form{
        height: 60%;
    }
}