*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --clr-main: #ffb508;
    --clr-secondary: #ffdf8e;
    --clr-bg: #fff0cb;

    --clr-but-even: #ffe096;
    --clr-but-odd: #ffc848;

    --clr-main-hover: #ffc643;
    --clr-but-even-hover: #ffd981;
    --clr-but-odd-hover: #ffbc20;

    --clr-main-active: #e0af3c;
    --clr-but-even-active: #e8c676;
    --clr-but-odd-active: #e1a61d;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* Header */
.header{
    height: 60vh;
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--clr-main);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.nav > .nav-menu-but{
    margin: 0;
    padding-block: 15px;
    padding-inline: 60px;
    border: none;
    background-color: var(--clr-main);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.nav > *{
    margin-inline: 15px;
}
.nav > .empty{
    flex-grow: 1;
}
.nav > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(1.5rem, 3vw);
    text-decoration: none;
    color: black;
}
.nav > .logo > img{
    width: min(40px, 5vw);
    margin-right: 3px;
}

.nav > .menu{
    margin: 0;
    position: fixed;
    z-index: -2;
    right: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 182.66px;
}
.nav > .menu > button{
    border: none;
    font-weight: normal;
    cursor: pointer;
}
.nav > .menu > .odd{
    background-color: var(--clr-but-odd);
}
.nav > .menu > .even{
    background-color: var(--clr-but-even);
}
.nav > .menu > *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 500;
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.introduction > p{
    text-align: center;
    margin-block: 20px;
    text-decoration: underline;
}

/* Main */
.main{
    min-height: 70vh;
    padding-block: 10px;
}
.main > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
    font-size: min(2em, 5vw);
}

/* Footer */
.footer{
    background-color: black;
    color: white;
    padding-block: 10px;
    text-align: center;
}

/* Misc */
.highlight{
    color: var(--clr-secondary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.blackScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}
.fixed{
    background-color: var(--clr-main);
    width: 100%;
    height: 57.2px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
/* States */
.on{
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.off{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.open{
    top: 57.2px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.closed{
    top: -250px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

/* Transitions */
.nav > .nav-menu-but,
.nav > .menu > .odd,
.nav > .menu > .even{
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* Hovers */

.nav > .nav-menu-but:hover{
    background-color: var(--clr-main-hover);
}
.nav > .menu > .odd:hover{
    background-color: var(--clr-but-odd-hover);
}
.nav > .menu > .even:hover{
    background-color: var(--clr-but-even-hover);
}

/* Actives */

.nav > .nav-menu-but:active{
    background-color: var(--clr-main-active);
}
.nav > .menu > .odd:active{
    background-color: var(--clr-but-odd-active);
}
.nav > .menu > .even:active{
    background-color: var(--clr-but-even-active);
}

/* Query */
@media (max-width: 768px){
    .nav > .menu{
        width: 100%;
    }
}