*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --clr-main: #ffb508;
    --clr-submission: rgb(214, 214, 214);
    --clr-submission-darker: rgb(161, 161, 161);

    --clr-green-but: hsl(120, 85%, 63%);
    --clr-red-but: hsl(0, 72%, 61%);
    --clr-green-but-hover: hsl(120, 85%, 53%);
    --clr-red-but-hover: hsl(0, 72%, 53%);
    --clr-green-but-active: hsl(120, 85%, 43%);
    --clr-red-but-active: hsl(0, 72%, 43%);
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/* Nav */
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--clr-main);
    position: sticky;
    top: 0;
    width: 100%;
}
.nav > *{
    margin-inline: 15px;
}
.nav > .empty{
    flex-grow: 1;
}
.nav > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(1.5rem, 3vw);
    text-decoration: none;
    color: black;
    padding-block: 8.7px;
}
.nav > .logo > img{
    width: min(40px, 5vw);
    margin-right: 3px;
}

/* Main */
.main{
    min-height: 86vh;
    padding-block: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > ul > .submission-container{
    width: min(860px, 60vw);
    height: 30vh;
    margin-block: 10px;
    border: 2px solid var(--clr-submission-darker);
    border-radius: 5px;
    background-color: var(--clr-submission);
    padding: 10px;

    display: grid;
    grid-template-areas:
    "date date"
    "day day"
    "accept deny";
    justify-items: center;
}
.main > ul > .submission-container > button{
    width: 95%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.accept-but{
    background-color: var(--clr-green-but);
    grid-area: "accept";
}
.deny-but{
    background-color: var(--clr-red-but);
    grid-area: "deny";
}

/* Footer */
.footer{
    background-color: black;
    color: white;
    padding-block: 10px;
    text-align: center;
}

/* Transitions */
.accept-but:hover, .deny-but:hover,
.accept-but:active, .deny-but:active{
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}


/* Hovers */
.accept-but:hover{
    background-color: var(--clr-green-but-hover);
}
.deny-but:hover{
    background-color: var(--clr-red-but-hover);
}

/* Active */
.accept-but:active{
    background-color: var(--clr-green-but-active);
}
.deny-but:active{
    background-color: var(--clr-red-but-active);
}